# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: myAgentPool

variables:
  projectRoot: $(System.DefaultWorkingDirectory)
  environmentName: "production"
  azureServiceConnectionId: 'DemoConnection'
  webAppName: 'flaskwebapp123456'
  
stages:
- stage: BuildStage
  jobs:
    - job: BuildJob
      pool: myAgentPool
    steps:
    - task: CmdLine@2
      displayName: Install Newman
      inputs:
        script: 'sudo npm install -g newman'
        workingDirectory: $(System.DefaultWorkingDirectory)
    - task: CmdLine@2
      displayName: Run Regression Tests
      continueOnError: true
      inputs:
        script: 'newman run StarterAPIs.json'
        workingDirectory: 'starter-code/automatedtesting/postman'
