# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: myAgentPool

variables:
  projectRoot: $(System.DefaultWorkingDirectory)
  environmentName: "production"
  azureServiceConnectionId: 'DemoConnection'
  webAppName: 'flaskwebapp123456'
  
stages:
- stage: BuildStage
  displayName: "Build and Test"
  jobs:
    - job: BuildJob
      pool: myAgentPool
      steps:
      - task: TerraformInstaller@1
        displayName: 'Install terraform'
        inputs:
          terraformVersion: 'latest'

      # Ensure Node.js is available
      - task: NodeTool@0
        inputs:
          versionSpec: '18.x'  # Or whichever version your Newman requires
        displayName: 'Use Node.js 18.x'
      - task: CmdLine@2
        displayName: Install Newman
        inputs:
          script: 'npm install -g newman'
          workingDirectory: $(System.DefaultWorkingDirectory)
      - task: CmdLine@2
        displayName: Run Regression Tests
        continueOnError: true
        inputs:
          script: 'newman run starterapis.json'
          workingDirectory: $(System.DefaultWorkingDirectory)
