# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: myAgentPool


variables:
  projectRoot: $(System.DefaultWorkingDirectory)
  environmentName: "production"
  azureServiceConnectionId: 'DemoConnection'
  webAppName: 'demo-app-udacity'
  backend_rg: 'AzureDevops'
  backend_stg: 'tfstateaccount2025manu'
  backend_container: 'tfstate'
  backend_key: 'test.terraform.tfstate'
  selinum_test_enviroment: 'test-selenium-env'

  
stages:
- stage: BuildStage
  displayName: "Build and Test"
  jobs:
    - job: BuildJob
      pool: myAgentPool
      steps:
      - task: TerraformInstaller@1
        displayName: 'Install terraform'
        inputs:
          terraformVersion: 'latest'
      
      # Terraform INIT
      - task: TerraformTaskV4@4
        displayName: 'Terraform Init'
        inputs:
          provider: azurerm
          command: init
          backendServiceArm: $(azureServiceConnectionId)
          backendAzureRmResourceGroupName: $(backend_rg)
          backendAzureRmStorageAccountName: $(backend_stg)
          backendAzureRmContainerName: $(backend_container)
          backendAzureRmKey: $(backend_key)
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/test'
        # --- CRITICAL: Define the ARM environment variables here ---
        #env:
          # These must be set as Secret Variables in Azure DevOps
          #TF_VAR_client_id: $(client_id)
          #TF_VAR_client_secret: $(client_secret)
          #TF_VAR_tenant_id: $(tenant_id)
          #TF_VAR_subscription_id: $(subscription_id)

            # Terraform PLAN
     # - task: TerraformTaskV4@4
     #   displayName: 'Terraform Plan'
     #   inputs:
     #     provider: azurerm
     #     command: plan
     #     backendServiceArm: $(azureServiceConnectionId)
     #     backendAzureRmResourceGroupName: $(backend_rg)
     #     backendAzureRmStorageAccountName: $(backend_stg)
     #     backendAzureRmContainerName: $(backend_container)
     #     backendAzureRmKey: $(backend_key)
     #     environmentServiceNameAzureRM: $(azureServiceConnectionId)
     #     workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/test'
     #     commandOptions: '-out=tfplan'
     #   env:
          # These must be set as Secret Variables in Azure DevOps
     #     TF_VAR_client_id: $(client_id)
     #     TF_VAR_client_secret: $(client_secret)
     #     TF_VAR_tenant_id: $(tenant_id)
     #     TF_VAR_subscription_id: $(subscription_id)
      # Terraform APPLY
      - task: TerraformTaskV4@4
        displayName: 'Terraform Apply'
        inputs:
          provider: azurerm
          command: apply
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/test'
          environmentServiceNameAzureRM: $(azureServiceConnectionId)
    #      commandOptions: 'tfplan'
        
        env:
          # These must be set as Secret Variables in Azure DevOps
          TF_VAR_client_id: $(client_id)
          TF_VAR_client_secret: $(client_secret)
          TF_VAR_tenant_id: $(tenant_id)
          TF_VAR_subscription_id: $(subscription_id)
          

      # Ensure Node.js is available
      - task: NodeTool@0
        inputs:
          versionSpec: '18.x'  # Or whichever version your Newman requires
        displayName: 'Use Node.js 18.x'
      - task: CmdLine@2
        displayName: Install Newman
        inputs:
          script: 'npm install -g newman'
          workingDirectory: $(System.DefaultWorkingDirectory)
      - task: CmdLine@2
        displayName: Run Data Validation Tests
        continueOnError: true
        inputs:
          script: 'newman run TestSuite.Data-Validation.json -e Test.environment.json --reporters cli,junit --reporter-junit-export TEST-DataValidation.xml'
          workingDirectory: $(System.DefaultWorkingDirectory)/automatedtesting/postman

      - task: CmdLine@2
        displayName: Run Regression Tests
        continueOnError: true
        inputs:
          script: 'newman run TestSuite.Regression.json -e Test.environment.json --reporters cli,junit --reporter-junit-export TEST-Regression.xml'
          workingDirectory: $(System.DefaultWorkingDirectory)/automatedtesting/postman

      - task: PublishTestResults@2
        displayName: 'Publish Postman Test Results'
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/TEST-*.xml'   # Matches TEST-DataValidation.xml and TEST-Regression.xml
          searchFolder: $(System.DefaultWorkingDirectory)/automatedtesting/postman
          mergeTestResults: true
          testRunTitle: 'Postman Data Validation & Regression Tests'

      #--------------------------------------------#
      # Selenium (UI) Test Suite - Archive the package  
      # "ArchiveFiles@2" picks up the web package and archives it.
      - task: ArchiveFiles@2
        displayName: 'Archive UI Tests'
        inputs:
          rootFolderOrFile: $(System.DefaultWorkingDirectory)/automatedtesting/selenium
          includeRootFolder: false
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-uitests.zip'
      # Selenium Test Suite - Publish the package  
      - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-uitests.zip   # Same as the archiveFile artifact above. 
        displayName: 'Upload Package'
        artifact: drop-uitests
          #--------------------------------------------#    
      # FakeRestAPI - Archive
      # ToDo: Complete the ArchiveFiles@2 task and publish step 
      - task: ArchiveFiles@2
        displayName: 'Archive FakeRestAPI'
        inputs:
          rootFolderOrFile: $(System.DefaultWorkingDirectory)/automatedtesting/jmeter/fakerestapi
          includeRootFolder: false
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip'
      - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip
        displayName: 'Upload Package'
        artifact: drop-fakerestapi
              # FakeRestAPI - Archive
      # ToDo: Complete the ArchiveFiles@2 task and publish step 
      - task: ArchiveFiles@2
        displayName: 'Archive FakeRestAPI python'
        inputs:
          rootFolderOrFile: $(System.DefaultWorkingDirectory)/automatedtesting/jmeter/fakerestapi-py
          includeRootFolder: false
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi-py.zip'
      - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi-py.zip
        displayName: 'Upload Package'
        artifact: drop-fakerestapi-py

      #--------------------------------------------#  
      # JMeter (Performance) Test Suite - Archive
      # ToDo: Complete the ArchiveFiles@2 task and publish step 
      - task: ArchiveFiles@2
        displayName: 'Archive PerformanceTestSuite'
        inputs:
          rootFolderOrFile: $(System.DefaultWorkingDirectory)/automatedtesting/jmeter/performancetest
          includeRootFolder: false
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-perftests.zip'
      # JMeter Test Suite - Publish    
      - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-perftests.zip
        displayName: 'Upload Package'
        artifact: drop-perftests
#--------------------------------------------#  
# DEPLOYMENT STAGE
#--------------------------------------------#    
- stage: Deploy
  jobs:
  #--------------------------------------------#  
  # Deploy FakeRestAPI Web App
  # ToDo: Provide <environment name> you created in your DevOps project
  - deployment: FakeRestAPI
    pool: myAgentPool
    environment: $(selinum_test_enviroment)   # ToDo
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App'
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(webAppName)
              appType: webAppLinux
              package: $(Pipeline.Workspace)/drop-fakerestapi-py/$(Build.BuildId)-fakerestapi-py.zip
              # ToDo: Write your commands
  #--------------------------------------------#  
  # Selenium | Functional UI Tests
  # ToDo: 
  - deployment: VMDeploy
    displayName: Selenium Tests
    environment:
      name: $(selinum_test_enviroment)
      resourceType: VirtualMachine
      tags: selenium
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop-uitests     # ToDo: Change/provide a name
            
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |           
                #! /bin/bash
                
                set -e

                # Use current user's home directory to avoid permission issues
                DIR=/var/log/selenium

                # Delete DIR if it exists
                if [ -d "$DIR" ]; then
                    echo "$DIR exist. Deleting it"
                    sudo rm -rf "$DIR"
                fi

                sudo mkdir -p "$DIR"
                sudo chown $USER:$USER "$DIR"

                # Set permissions so Azure Monitor Agent can READ logs
                echo "Setting read permissions (755) for AMA"
                sudo chmod 755 "$DIR"

                #echo "Restarting Azure Monitor Agent..."
                #sudo systemctl restart azuremonitoragent

                #echo "Azure Monitor Agent restarted successfully."

                # Move the artifact to DIR
                mv ~/azagent/_work/1/drop-uitests/$(Build.BuildId)-uitests.zip "$DIR/"
                cd "$DIR"

                # Unzip the Selenium test package
                unzip -o $(Build.BuildId)-uitests.zip
                

                # Add local app folder to PATH
                export PATH=$PATH:$DIR

                # Activate Python virtual environment
                source /opt/selenium-env/bin/activate


                # Run Selenium tests
                echo "Starting Selenium Tests"
                python3 login.py | tee -a selenium.log

                echo "Completed Selenium Tests. Check selenium.log for results."
- stage: LoadTest
  dependsOn: Deploy
  jobs:
  - job: RunJMeter
    pool: myAgentPool
    steps:
    - task: Bash@3
      inputs:
        targetType: 'inline'
        workingDirectory: $(Pipeline.Workspace)/drop-perftests
        script: |
          set -e

          DIR="/var/results/jmeter"

          echo "Pipeline Workspace: $(Pipeline.Workspace)"
          echo "JMeter Log Directory: $DIR"

          # Delete DIR if it exists
          if [ -d "$DIR" ]; then
              echo "$DIR exists. Deleting it..."
              sudo rm -rf "$DIR"
          fi

          # Create DIR again
          echo "Creating $DIR..."
          sudo mkdir -p "$DIR"

          # Give ownership to the current agent user
          sudo chown $USER:$USER "$DIR"

          echo "Unzipping test suite..."
          unzip -o $(Build.BuildId)-perftests.zip

          # Checking site readiness before executing jmeter
          API_URL="https://$(webAppName).azurewebsites.net/api/v1/Authors"
          MAX_RETRIES=30
          SLEEP_TIME=5

          echo "Waiting for API to return HTTP 200: $API_URL"

          for i in $(seq 1 $MAX_RETRIES); do
              STATUS=$(curl -o /dev/null -s -w "%{http_code}" "$API_URL")

              if [ "$STATUS" -eq 200 ]; then
                  echo "API is up! (HTTP 200)"
                  break
              fi

              echo "Attempt $i/$MAX_RETRIES: API returned $STATUS. Retrying in $SLEEP_TIME seconds..."
              sleep $SLEEP_TIME

              if [ $i -eq $MAX_RETRIES ]; then
                  echo "API did not become ready after $MAX_RETRIES attempts."
                  exit 1
              fi
          done

          # Executing endurance test suite
          echo "###################################"
          echo "Running JMeter Endurance Test Suite"
          
          jmeter -n \
            -t EnduranceTestSuite.jmx \
            -j "$DIR/jmeter-endurance.log" \
            -l "$DIR/EnduranceTestSuite-results.jtl" \
            -e -o "$DIR/html-report-EnduranceTestSuite" 


          echo "Executed JMeter Endurance Test Suite"
          echo "###################################"

          # Executing stress test suite
          echo "###################################"
          echo "Running JMeter stress Test Suite"
          
          jmeter -n \
            -t StressTestSuite.jmx \
            -j "$DIR/jmeter-stress.log" \
            -l "$DIR/StressTestSuite-results.jtl" \
            -e -o "$DIR/html-report-StressTestSuite"

          echo "Executed JMeter Stress Test Suite"
          echo "###################################"

          echo "JMeter endurance log output:"
          cat "$DIR/jmeter-endurance.log"

          echo "JMeter stress log output:"
          cat "$DIR/jmeter-stress.log"
    - task: Bash@3
      displayName: 'Copy JMeter Results to Pipeline Workspace'
      inputs:
        targetType: 'inline'
        script: |
          mkdir -p "$(Pipeline.Workspace)/jmeter-results"
          cp -r /var/results/jmeter/* "$(Pipeline.Workspace)/jmeter-results/"

    - task: ArchiveFiles@2
      displayName: "Zip JMeter Results"
      inputs:
        rootFolderOrFile: "$(Pipeline.Workspace)/jmeter-results"
        includeRootFolder: false
        archiveType: zip
        archiveFile: "$(Build.ArtifactStagingDirectory)/jmeter-results.zip"
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      displayName: "Publish JMeter ZIP Artifact"
      inputs:
        pathToPublish: "$(Build.ArtifactStagingDirectory)/jmeter-results.zip"
        artifactName: "jmeter-results"
        publishLocation: "Container"
